#r-wing,
#l-wing,
#r-tint,
#l-tint {
  filter: drop-shadow(0px 0px 11px #ed1986);
}

#curve {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  filter: drop-shadow(0px 0px 5px #ed1986);
  animation: spin 4s 1s infinite, App-logo-curve 1s linear;
}

#caprece {
  animation: App-logo-caprece 1s linear;
}
#butterfly {
  animation: App-logo-butterfly-opacity 1.2s linear,
    App-logo-butterfly 1s linear;
}

.App-logo {
  width: 50vh;
}
.App-logo:hover {
  transform: scale(1.1);
}

.App-logo:hover #head {
  filter: drop-shadow(0px 0px 11px #ed1986);
}
.App-logo:hover #body {
  filter: drop-shadow(0px 0px 11px #ed1986);
}
.App-logo:hover #b-right {
  filter: drop-shadow(0px 0px 11px #ed1986);
}
.App-logo:hover #b-left {
  filter: drop-shadow(0px 0px 11px #ed1986);
}
.App-logo:hover #s-right {
  filter: drop-shadow(0px 0px 11px #ed1986);
}
.App-logo:hover #s-left {
  filter: drop-shadow(0px 0px 11px #ed1986);
}

@keyframes App-logo-caprece {
  0% {
    opacity: 0%;
    transform: translate(-10px, -200px);
  }
  50% {
    opacity: 100%;
    transform: translate(-10px, -200px);
  }
  100% {
    opacity: 100%;
    transform: translate(0px, 0px);
  }
}

@keyframes App-logo-curve {
  0% {
    opacity: 0%;
    transform: translate(-10px, -200px);
  }
  50% {
    opacity: 100%;
    transform: translate(-10px, -200px);
  }

  100% {
    opacity: 100%;
    transform: translate(0px, 0px);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-butterfly {
  0% {
    transform: translate(10px, 50px);
  }
  50% {
    transform: translate(10px, 50px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes App-logo-butterfly-opacity {
  0% {
    opacity: 0%;
  }
  55% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
