.App {
  background-image: url("./Assets/Background/blob-scene-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  min-width: 100vh;
  color: white;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
